Präsentation.pages
.DS_Store
.idea/
.vscode/
node_modules/
*.log   
cgi_challenge.pdf


dist/
build/
.env        

cgi_automation_challenge.pdf
.env.local
.env.development.local
.env.test.local
.env.production.local       